@{
    ViewData["Title"] = "Home Page";
}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron covertron">
    <div class="container">
        <h1 class="display-3">Know GO</h1>
       
    </div>
    
</div>
<div class="dotrow"> <img src="images/dotPattern.png" /></div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 style="text-align: center;">Going overseas doesn't have to be intimidating.</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h3 style="text-align: center;">Whether you are just embarking on your abroad process, you're overseas right now, or you're back - we're here to help! Here's what we have to offer:</h3>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- Example row of columns -->
    <div class="row" style="padding-top: 3rem;">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <img src="/images/surficon.png" class="rounded mx-auto d-block" alt="Responsive image">
            <h2>30,000+ Reviews & Photos</h2>
            <p>Ratings and review to help you find good programs (and avoid the bad ones). Questions and answers from people who actually went on programs. Read their stores, reach out and connect.</p>
        </div>
        <div class="col-md-3">
            <img src="/images/surficon.png" class="rounded mx-auto d-block" alt="Responsive image">
            <h2>100,000+ Community Members</h2>
            <p>Think of us as your well traveled friend. Going overseas is over-whelming - we get it! We've been there. Now you don't have to go it alone.</p>
        </div>
        <div class="col-md-3"></div>

    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <img src="/images/surficon.png" class="rounded mx-auto d-block" alt="Responsive image">
            <h2>2500+ Travel Articles</h2>
            <p>We have articles on every topic related to traveling overseas. Not to mention while you're browsing programs, we have the option to wishlist in order to compare and contrast - anytime.</p>
        </div>
        <div class="col-md-3">
            <img src="/images/surficon.png" class="rounded mx-auto d-block" alt="Responsive image">
            <h2>$500,000 in Scholarships</h2>
            <p>Travel is a luxury, right? Not in the world we see. We're making it accessible, because we think everyone should be able to do it. See what scholarships are running right now.</p>
        </div>
        <div class="col-md-3"></div>

    </div>
    <hr>

</div> <!-- /container -->