.jumbotron,
.covertron {
  background-image: url('../images/talent_4real-world-degrees.jpg');
  background-size: cover;
  padding: 10rem 2rem;
}
.display-3 {
  text-align: center;
  color: #ffffff;
}
.dotrow {
  margin-top: -9.3rem;
  margin-bottom: 9rem;
}
footer {
  background-size: cover;
  padding: 10rem 2rem;
  background-image: url('../images/footer.png');
}
@media screen and (max-width: 767px) {
  /* Hide captions */
  footer {
    background-image: url('../images/footer-mobile.png');
  }
}